@model List<ResultDiscussionDto>

<div class="col-lg-8 mb-5 mb-lg-0">
    <div class="blog_left_sidebar">
        @foreach (var item in Model)
        {
            <article class="blog_item">
                <div class="blog_item_date_noimage text-center">
                    <h3>@item.CreatedAt.ToString("dd")</h3>
                    <p>@item.CreatedAt.ToString("MMM yyyy")</p>
                </div>
                <div class="blog_details">
                    <a class="d-inline-block" href="/Discussion/Detail/@item.Id">
                        <h2 class="blog-head text-primary">@item.Title</h2>
                    </a>
                    <p class="text-muted">
                        @if (item.Content.Length > 100)
                        {
                            @($"{item.Content.Substring(0, 100)}... ")
                            <a href="/Discussion/Detail/@item.Id" class="text-primary font-weight-bold">Devamını Oku</a>
                        }
                        else
                        {
                            @item.Content
                        }
                    </p>
                    <ul class="blog-info-link list-inline">
                        <li class="list-inline-item"><i class="fa fa-user"></i> @item.UserFullName</li>
                        <li class="list-inline-item"><i class="fa fa-comments"></i> @item.ReplyCount Yorum</li>
                    </ul>
                    <div class="text-right mt-3">
                        <a href="/Discussion/Detail/@item.Id" class="btn btn-primary btn-sm">Tartışmayı Gör</a>
                    </div>
                </div>
            </article>
            <hr class="my-4">
        }
    </div>
</div>
